go 1.18

use (
	./arrays_and_slices
	./concurrency
	./dependency_injection
	./hamming
	./hello
	./integers
	./interfaces
	./iteration
	./maps_baby
	./mocking
	./pointers_and_errors
	./property_based_tests
	./reflection
	./select
	./stringMethods
	./sync
)
